<!doctype html>
<html lang="en" ng-app='myApp' ng-controller='MainController'>

<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="style.css" media="screen" rel='stylesheet'>
</head>

<body ng-app='myApp' ng-controller='MainController' ng-view ng-cloak>

    <md-tabs>
        <md-tab label='settings'>
            <md-content >
                <md-list flex-offset-gt-md='40' flex-gt-md='20'
                         flex-offset-gt-sm='30' flex-gt-sm='40'
                         layout-padding layout-margin >
                    <md-list-item layout='column' layout-align='start stretch'>
                        <md-input-container>
                            <label>pomodoro length</label>
                            <input aria-label='pomolength' required min='0' ng-model='settingsExplicit.pomoLength' type='number'>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item layout='column' layout-align='start stretch'>
                        <md-input-container>
                            <label>short break length</label>
                            <input aria-label='shortlength' required min='0' ng-model='settingsExplicit.shortBreakLength' type='number'>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item layout='column' layout-align='start stretch'>
                        <md-input-container>
                            <label>long break length</label>
                            <input aria-label='longlength' required min='0' ng-model='settingsExplicit.longBreakLength' type='number'>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item md-no-ink>
                        <md-input-container>
                            <md-checkbox md-no-ink><span>continuous. immediatley begin next session</span></md-checkbox>
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src='state-machine.js'></script>
    <script src='transition-table.js'></script>
    <script src='script.js'></script>
</body>

</html>